<div ng-controller="Umbraco.Community.Forms.Mailcoach.EmailListPickerController as vm">
    <div ng-if="loading">
        <p>Loading email lists...</p>
    </div>

    <div ng-if="!loading && error" class="alert alert-danger">
        <strong>Error:</strong> {{error}}
    </div>

    <div ng-if="!loading && !error">
        <select name="mailingList" title="Mailing List" ng-model="vm.selectedList" ng-change="vm.save()">
            <option value="">Select a mailing list</option>
            <option ng-repeat="list in vm.lists" value="{{ list.uuid }}">{{ list.name }}</option>
        </select>
        <small class="help-block" ng-if="emailLists.length === 0">
            No email lists found. Please check your Mailcoach configuration.
        </small>
        <small class="help-block" ng-if="emailLists.length > 0">
            Found {{emailLists.length}} email list(s)
        </small>
    </div>
</div>